<!DOCTYPE html>
<html lang="es">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Ejercicio Mod 4 Leccion 4</title>
    <link rel="stylesheet" href="style.css" />
  </head>
  <body>
    <div id="app">
      <h1>Historias</h1>
      <div class="alex">
        <h2>Las historias de Alex</h2>
        <p v-for="historia in histAlex">Alex dice: {{historia}}</p>
      </div>
      <div class="juan">
        <h2>Las historias de Juan</h2>
        <p v-for="historia in histJuan">Alex dice: {{historia}}</p>
      </div>
      <input
        v-model="inputContent"
        type="search"
        placeholder="Ingresa alguna palabra"
      />
      <p class="result" v-for="item in busqueda">{{item}}</p>
    </div>
    <script src="https://cdn.jsdelivr.net/npm/vue@2.5.16/dist/vue.js"></script>
    <script src="./script.js"></script>
  </body>
</html>
